.playlist-item
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-between
  border-bottom: 1px solid #424549
  padding: 5px 10px 5px 10px

.playlist-item_name
  width: 100%

.playlist-item_button
  text-align: center
  width: 30%

.playlist-item_requested-by
  font-size: 13px
  font-style: italic
