.header_container{
  border-bottom: 1px solid black;
}

.header_title_container {
  text-align: center;
  margin-bottom: 20px;
}

.header_title{
  font-size: 20px;
  margin: 10px;
  margin-bottom: 5px;
}

.header-tabs_container{
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-tab {
  border-bottom: 1px solid black;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

#{'a, a:hover'} {
  text-decoration: none;
}

.header-now-playing {
  font-size: 12px;
  font-weight: lighter;
}
